extends includes/master.pug
block content
	
	// ==================
	//    PAGE CONTENT   
	// ==================
	// Bootstrap Carousel

	#carousel-home.carousel.slide.carousel-fade.carousel-full(data-ride="carousel")
		.carousel-inner
			.carousel-item.active
				img.d-block(src="img/slider1.jpeg" alt="First slide")
				.carousel-content
					.row
						.col-md-12.image
							img(src="img/slider-item2.jpeg").img-fluid
						.col-md-12.text
							h4.bold Lorem ipsum dolor sit.
							span.thin Nobis dolore officia esse natus dolorem eius perferendis ut expedita quibusdam debitis, aliquid corrupti repudiandae rem voluptates molestiae cumque officiis quas accusamus.
			.carousel-item
				img.d-block(src="img/slider2.jpeg" alt="First slide")
				.carousel-content
					.row
						.col-md-12.image
							img(src="img/slider-item1.jpeg").img-fluid
						.col-md-12.text.dark-text
							h4.bold Lorem ipsum dolor sit.
							span.thin Nobis dolore officia esse natus dolorem eius perferendis ut expedita quibusdam debitis, aliquid corrupti repudiandae rem voluptates molestiae cumque officiis quas accusamus.
		// Carousel Navigation
		a.carousel-control-prev(href="#carousel-home" role="button" data-slide="prev")
			.carousel-control-prev-icon(aria-hidden="true")
			.sr-only Previous
		a.carousel-control-next(href="#carousel-home" role="button" data-slide="next")
			.carousel-control-next-icon(aria-hidden="true")
			.sr-only Next



	// Intro Text
	section.blog-main
		.container
			.row.inner.wow.fadeIn(data-wow-duration="2s")
				.col-md-8
					.blog-list
						.blog-item
							.image
								img.img-fluid(src="img/blog-post-2.jpg" alt="Blog Post")
							.content
								h2 This is a post
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure voluptas vero aperiam mollitia voluptatibus, accusamus tempora ad voluptatem minus ullam eaque beatae natus deserunt assumenda debitis, perspiciatis, praesentium ipsa nihil!
								a(href="#") Read more...
								.share
									ul
										li
											span Share
										li 
											a
												i.fab.fa-facebook
										li
											a
												i.fab.fa-instagram
										li
											a
												i.fab.fa-google-plus-square
										li
											a
												i.fab.fa-twitter-square
										
						.blog-item
							.image
								img.img-fluid(src="img/blog-post-1.jpg" alt="Blog Post")
							.content
								h2 This is another post
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure voluptas vero aperiam mollitia voluptatibus, accusamus tempora ad voluptatem minus ullam eaque beatae natus deserunt assumenda debitis, perspiciatis, praesentium ipsa nihil!
								a(href="#") Read more...
								.share
									ul
										li 
											span Share
										li 
											a
												i.fab.fa-facebook
										li
											a
												i.fab.fa-instagram
										li
											a
												i.fab.fa-google-plus-square
										li
											a
												i.fab.fa-twitter-square
				.col-md-4
					include includes/blog-sidebar

	// Previous Posts
	section.previous-posts
		.container
			.row-centered
				h1 Previous Posts
			.CarouselMultiple.owl-carousel.blog-old-posts
				- var multicarousel = [['img/previous-post-1.jpg', 'This is my journey', 'libero ex dapibus diam expound the actual teachings of the great explorer'],['img/previous-post-2.jpg', 'Diary of a travel', 'libero ex dapibus diam expound the actual teachings of the great explorer'],['img/previous-post-3.jpg', 'Shangai', 'libero ex dapibus diam expound the actual teachings of the great explorer'],['img/previous-post-4.jpg', 'The mountains', 'libero ex dapibus diam expound the actual teachings of the great explorer']]
				each multicdata in multicarousel
					.item
						img(src=multicdata[0] alt='Carousel Item')
						.content
							h4 #{multicdata[1]}
							p #{multicdata[2]}
							a(href="#") Read more...



	// Sorteable Gallery
	section
		div.container-fluid
			div.row.sortable-gallery
				div.col-md-3.text-center
					h1 Decoration
					span.text-deco-1 GALLERY PROYECTS
					p
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugit officia doloremque ipsam in possimus.
					.sortable-gallery-filters
						ul
							li.active(data-filter='*') All
							li(data-filter='.cakes') Cakes
							li(data-filter='.brownies') Brownies
							li(data-filter='.cupcakes') CupCakes
				div.col-md-9
					div.sortable-gallery-items
						//- Array: 0 - image filename | 1: sorting class 
						- var sorteableimages = [['img/gallery1.jpg', 'cakes'],['img/gallery2.jpg', 'cakes'],['img/gallery3.jpg', 'brownies'],['img/gallery5.jpg', 'cakes brownies cupcakes'],['img/gallery6.jpg', 'cakes brownies cupcakes'],['img/gallery5.jpg', 'cakes brownies cupcakes']]
						each data in sorteableimages
							div.col-xs-12.col-sm-6.col-md-6.col-lg-4.item(class=data[1])
								figure
									a(href=data[0])
										img(src=data[0] alt='')
										.overlay
	

	// Newsletter Banner
	div.padding-0.newsletter-banner
		.container.justify-content-center
			.row.inner
				.col-md-4.col-left
					span Newsletter
					p Subscribe &amp; Get awesome updates
				.col-md-8.col-right
					form.input-group.mb-3
						input.form-control.line-input(type='text' placeholder='Enter Email Address' aria-label='Enter Email Address')
						.input-group-append
							button.input-group-text(type='submit') Subscribe

	// Contact Section
	a.anchor#Contact
	section.padding-0.contact-section
		.container-fluid
			.row
				.col-xs-12.col-sm-12.col-md-5.col-left
				
				.col-xs-12.col-sm-12.col-md-7.col-right.grey-bg
					h1 Contact Us
					p
						| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum modi dignissimos excepturi accusantium nihil odio aliquid eveniet

					form(method='POST')#contact-form.main-form
						.form-group
							input.form-control(name='name' type='text' placeholder='Your Name')
						.form-group
							input.form-control(name='email' type='email' placeholder='Your E-mail')
						.form-group
							input.form-control(name='phone' type='tel' placeholder='Your Phone')
						.form-group
							textarea#exampleFormControlTextarea1.form-control(name='message' rows='3' placeholder='Leave us a message')
							small.form-text.text-muted We&apos;ll never share your data with anyone else.
						button#submit-btn.btn.btn-primary(type='submit') Submit
					#form-thanks.form-response
						i.fas.fa-check.success
						p
							| Thank you for contacting us <br> We will get back to you soon!

					#form-error.form-response
						i.fas.fa-times.error
						p
							| An error has occurred, please contact support.